.colorGeneratorBtn{
	font-family: Arial;
	font-size: 56px;
	font-weight: bold;
	text-decoration: underline;

	margin: 0 auto;

	width: 660px;
	height: 160px;

	background-color: ;
	outline: none;
	border: none;
	border-radius: 50px;
}

.colorGeneratorDiv{
	margin: 0 auto;
	padding: 5px;

	width: 360px;
	height: 70px;

	background-color: white;
	border-radius: 50px;
}