body {
	background-color: #f5f5f5;
	font-family: 'Montserrat',  sans-serif;
}

.container {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	width: 1140px;
	flex-direction: column;
}

.block {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-color: white;
	margin: 10px;
}

.container img {
	width: 180px;
	height: 180px;
	border-radius: 500px;
}

.name {
	margin: 30px auto 30px;
	height: 100px;
	width: 500px;
	border-radius: 30px;
}

.name h1 {
	color: #000;
	font-family: 'montserrat';
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
	max-width: 700px;
	text-align: center;
	background: rgba(255, 253, 160, 1);
	background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
	-webkit-background-clip: text;
	-ms-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-fill-color: transparent;
	-webkit-animation-name: masked-animation;
	-webkit-animation-duration: 50s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	line-height: 45px;
	cursor: default;
}

@-webkit-keyframes masked-animation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -8000px -3000px;
	}
}

.main {
	width: 100%;
	height: 100%;
}

.menu {
	display: inline-block;
	width: 300px;
	float: left;
}

.menu-top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	border-bottom: 1px solid #E0E4E5;
}

.menu-top i {
	color: #4baff2;
	margin-right: 15px;
}

.menu-top h1 {
	font-size: 25px;
	cursor: default;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

.menu-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 50px;
	border-bottom: 1px solid #E0E4E5;
}

.menu-container div:last-child {
	border-bottom: none;
}

.work a {
	font-size: 20px;
	text-decoration: none;
	color: black;
	transition: 0.3s;
	border: none;
}

.work a:hover {
	color: blue;
	margin-left: 15px;
}

.content-1 {
	display: inline-block;
	width: 70%;
	float: left;
	text-align: center;
}

.content-1 h1 {
	font-size: 25px;
}

.content-1 p {
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.width {
	width: 100%;
}

.gradient-block {
	height: 2px;
	width: 100%;
	background-color: gray;
	overflow: hidden;
}

.linear-gradient {
	position: relative;
	right: 100%;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left, #21d4fd, #b721ff);
	background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
	transition: 0.4s;
}

.skills {
	width: 70%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.skills h1 {
	font-size: 25px;
	text-align: center;
	margin-bottom: 0;
}

.skills i {
	margin: 15px;
	float: left;
}

.skill {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill p {
	font-size: 19px;
	line-height: 40px;
}

.skill:last-child {
	margin-bottom: 10px;
}

.glow {
	transition: 0.3s;
	cursor: default;
}

.glow:hover {
	box-shadow: inset 0 -2px 0 rgba(1,1,1,0.95);
}

footer {
	width: 1120px;
	height: 50px;
	margin-bottom: 0 !important;
	border-radius: 10px 10px 0 0;
	background-color: white !important;
}

footer h1 {
	width: 400px;
	margin: 0;
	font-size: 23px;
	line-height: 50px;
	margin-left: 10px;
	cursor: default;
	float: left;
}

.social {
	float: right;
	width: 160px;
	height: 100%;
	display: flex;
	align-items: center;
}

.social-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	border: 1px solid black;
	border-radius: 500px;
	margin-left: 7px;
	margin-right: 7px;
	transition: 0.3s;
}

.fa-vk {
	transition: 0.3s;
	font-size: 25px;
}

.fa-discord {
	font-size: 22px;
	transition: 0.3s;
}

.fa-twitch {
	font-size: 24px;
	transition: 0.3s;
}

.social-circle:hover .fa-vk {
	color: #4872a3;
}

.social-circle:hover {
	height: 40px;
	width: 40px; 
}

.social-circle:hover .fa-discord {
	color: #7289da;
}

.social-circle:hover .fa-twitch {
	color: #8c00ff;
}

a {
	text-decoration: none;
	color: black;
}