.container {
	display: flex;
	justify-content: center;
	align-items: center;
	heght: 100vh;
	padding:190px;

}

.video {
	width: 100%;
}
header {
display: block;
height:158px;
background: url(images/vidcat.png);
position: absolute;
left: 0px;
top: 0px;
right: 0px;
}

footer {
position: fixed;
left: 0; bottom: 0;
padding: 0px;
background: #ACACAC; 
color: #FFFFFF; 
width: 100%;
margin: 0 auto;
text-align: center;
padding-top:0px;
font-family: fantasy;
font-style: normal;
}
