@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0 auto;
	background: url(img/bg.png) no-repeat;
	transition: all 0.5s;
}

header {
	position: absolute;
	display: block;
    background: url(img/3.jpg);
    width: 1880px;
    height: 500px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 5px 1px 15px;
    border-radius: 5px;
}

.pic1 {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.name {
	font-size: 50px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	cursor: default;
}

.name:hover {
	color: #E2E7FE;
	transition: 0.3s;
}

.name:not(:hover) {
	color: #fff;
	transition: 0.2s;
}

.study {
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	margin-top: 5px; 
}

.pic1:hover {
	transform: scale(1.1);
	transition: 0.3s;
	box-shadow: 2px 1px 4px;
}

.pic1:not(:hover) {
	transform: scale(1);
	transition: 0.2s;
}

.study:hover {
	text-shadow: 1px 1px 2px #000;
	transition: 0.3s;
	cursor: default;
}

.study:not(:hover) {
	text-shadow: none;
	transition: 0.3s;
}

.tricks {
	position: absolute;
	display: flex;
	top: 525px;
	left: 165px;
}

.tr {
	margin: 0 auto;
	font-size: 75px;
	cursor: default;
}

.tr:hover {
	color: #DFDFDF;
	text-shadow: 1px 1px 2px #000;
	transition: 0.3s;
}

.tr:not(:hover) {
	color: #000;
	text-shadow: none;
	transition: 0.2s;
}

.t1 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: -145px;
    width: 75px;
} 

.t1:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t1:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t2 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: -55px;
    width: 75px;
} 

.t2:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t2:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t3 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: 35px;
    width: 75px;
} 

.t3:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t3:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t4 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: 125px;
    width: 75px;
} 

.t4:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t4:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t5 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: 215px;
    width: 75px;
} 

.t5:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t5:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t6 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 190px;
    left: -145px;
    width: 75px;
} 

.t6:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t6:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t7 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 190px;
    left: -55px;
    width: 75px;
} 

.t7:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t7:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t8 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 190px;
    left: 35px;
    width: 75px;
} 

.t8:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t8:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.t9 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 190px;
    left: 125px;
    width: 75px;
} 

.t9:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.t9:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.palka {
	position: absolute;
	margin: 0 auto;
	height: 445px;
	width: 1px;
	left: 500px;
	top: 520px;
	background-color: #CACACA;
	border: none;
	border-radius: 1px
}

.practice {
	position: absolute;
	display: flex;
	top: 525px;
	left: 825px;
}

.pr {
	margin: 0 auto;
	font-size: 75px;
	cursor: default;
}

.pr:hover {
	color: #ACE1EC;
	text-shadow: 1px 1px 2px #000;
	transition: 0.3s;
}

.pr:not(:hover) {
	color: #000;
	text-shadow: none;
	transition: 0.2s;
}

.p1 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: -300px;
    width: 225px;
    background-color: #FDBBBB;
    border-radius: 10px;
} 

.p1:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.p1:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.p2 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: -50px;
    width: 225px;
    background-color: #E8EAB7;
    border-radius: 10px;
} 

.p2:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.p2:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.p3 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: 200px;
    width: 225px;
    background-color: #5B7BA3;
    border-radius: 10px;
} 

.p3:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.p3:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.p4 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 200px;
    left: -300px;
    width: 200px;
    background-color: #F6A75C;
    border-radius: 10px;
} 

.p4:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.p4:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.p5 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 200px;
    left: -75px;
    width: 200px;
    background-color: #F93F3F;
    border-radius: 10px;
} 

.p5:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.p5:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.p6 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 200px;
    left: 150px;
    width: 290px;
    background-color: #E2D5F5;
    border-radius: 10px;
} 

.p6:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.p6:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.p7 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: 445px;
    width: 115px;
    background-color: #8EDE73;
    border-radius: 10px;
} 

.p7:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.p7:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.palka2 {
	position: absolute;
	margin: 0 auto;
	height: 445px;
	width: 1px;
	left: 1405px;
	top: 520px;
	background-color: #CACACA;
	border: none;
	border-radius: 1px
}

.homework {
	position: absolute;
	display: flex;
	top: 525px;
	left: 1520px;
}

.hm {
	margin: 0 auto;
	font-size: 75px;
	cursor: default;
}

.hm:hover {
	color: #F6F7A1;
	text-shadow: 1px 1px 2px #000;
	transition: 0.3s;
}

.hm:not(:hover) {
	color: #000;
	text-shadow: none;
	transition: 0.2s;
}

.hm1 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: -90px;
    width: 210px;
    border-radius: 10px;
} 

.hm1:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.hm1:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

.hm2 {
	text-align: center;
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 55px;
    top: 105px;
    left: 160px;
    width: 210px;
    border-radius: 10px;
} 

.hm2:hover {
	border-bottom: 3px solid black;
	border-radius: 10px;
	transform: scale(1.1);
	transition: 0.2s;
}

.hm2:not(:hover) {
	border-bottom: none;
	transform: scale(1);
	transition: 0.2s;
}

footer {
position: fixed;
left: 0; bottom: 0;
padding: 0;
background: #181818;  
width: 100%;
margin: 0 auto;
box-shadow: 1px 1px 15px;
}

.under {
	position: absolute;
	font-family: sans-serif;
	color: #828282;
	margin-left: 10px;
	font-size: 12px;
	cursor: default;
	width: 300px;
}

.under:hover {
	color: #9A9A9A;
	transition: 0.2s;
}

.under:not(:hover) {
	color: #828282;
	transition: 0.1s;
}

.soc img {
	position: relative;
	left: 87%;
	padding: 5px;
	top: 3px; 
}

.soc img:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.soc img:not(:hover) {
    transition: 0.2s;
    transform: scale(1);
}

@media screen and (max-width: 1601px) {
	header {
		max-width: 97.5%;
		height: 400px;
	}

	.soc img {
		left: 85%;
	}

	.pic1 {
		margin-top: 10px;
		max-width: 11%;
	}

	.name {
		font-size: 40px;
		margin-top: 30px;

	}

	.tr {
		font-size: 50px;
	}

	.tricks {
		left: 125px;
		top: 425px;
	}

	.t1, .t2, .t3, .t4, .t5 {
		font-size: 42px;
		width: 60px;
		top: 60px;
	}

	.t1 {
		left: -110px;
	}

	.t2 {
		left: -45px;
	}

	.t3 {
		left: 25px;
	}

	.t4 {
		left: 95px;
	}

	.t5 {
		left: 165px;
	}

	.t6, .t7, .t8, .t9 {
		width: 60px;
		font-size: 42px;
		top: 120px;
	}

	.t6 {
		left: -110px;
	}

	.t7 {
		left: -45px;
	}

	.t8 {
		left: 25px;
	}

	.t9 {
		left: 95px;
	}

	.palka {
		top: 415px;
		left: 370px;
		height: 320px;
	}

	.p1, .p2, .p3, .p4, .p5 {
		font-size: 42px;
		width: 215px;
	}

	.practice {
		left: 670px;
		top: 425px;
	}

	.pr {
		font-size: 50px;
	}

	.p1, .p2, .p3 {
		top: 60px;
	}

	.p3 {
		width: 220px;
	}

	.p4, .p5 {
		top: 130px;
		width: 190px;
	}

	.p6 {
		top: 130px;
		width: 250px;
		font-size: 42px;
	}

	.p1 {
		left: -280px;
	}

	.p2 {
		left: -45px;
	}

	.p3 {
		left: 190px;
	}

	.p4 {
		left: -280px;
	}

	.p5 {
		left: -70px;
	}

	.p6 {
		left: 140px;
	}

	.p7 {
		left: -280px;
		top: 200px;
		width: 90px;
		font-size: 42px;
	}

	.palka2 {
		top: 415px;
		left: 1100px;
		height: 350px;
	}

	.hm1, .hm2 {
		font-size: 42px;
		width: 150px;
		top: 60px;
	}

	.hm {
		font-size: 50px;
	}

	.homework {
		left: 1250px;
		top: 425px;
	}

	.hm1 {
		left: -130px;
	}

	.hm2 {
		left: 50px;
	}

}

















