body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	display: flex;
}

.section {
	position: absolute;
	margin: 0 auto;
	padding: 0;
	margin-top: 5px;
	left: 0;
	right: 0;	
	width: 1100px;
	background: linear-gradient(#FFAFBD, #ffc3a0);
	color: black;
	border-radius: 15px;
	border: 2px solid black;
}
	

.section img {
	display: block;
	margin: auto;
	border-radius: 50%;
	margin-top: 13px;
}

.section h1 {
	text-align: center;
}

h1:hover {
	cursor: pointer;
	text-shadow: 1px 1px 1px;
	transition: 0.3s;
}

.section p {
	font-family: monospace;
	font-size: 23px;
	cursor: pointer;
	text-align: center;
}

.section img:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.3s;
	box-shadow: 5px 5px 5px;
}

.section img:not(:hover) {
	transition: 0.2s;
	transform: scale(1);
}

.work {
	position: relative;
	margin-top: 347px;
	padding: 0;
	margin-left: 410px;	
	width: 700px;
	background: linear-gradient(#abbaab, #ffffff);
	color: black;
	border-radius: 15px;
	border: 2px solid black;
}

.work h1 {
	cursor: pointer;
	margin-left: 20px;
}

 .work p {
 	cursor: pointer;
	margin-left: 20px;
	font-size: 24px;
	text-shadow: 0.7px 0.7px 0.7px;
 }

 .work p:hover {
 	cursor: pointer;
	text-shadow: 1.4px 1.4px 1.4px;
	transition: 0.3s;
 }

 .button {
 	position: relative;
 	top: -112px;
 	left: 125px;
 }

 .button a {
 	text-decoration: none;
 	font-size: 30px;
 	font-family: monospace;
 	background: linear-gradient(#8360c3, #2ebf91);
 	padding: 5px 15px;
 	color: #fff;
 	border-radius: 50%;
 	border: 3px solid black;
 }

.button a:hover{
	border-color: #fff;
	transition: 0.3s;
}

.button2 {
 	position: relative;
 	top: -147px;
 	left: 185px;
 }

.button2 a {
 	text-decoration: none;
 	font-size: 30px;
 	font-family: monospace;
 	background: linear-gradient(#8360c3, #2ebf91);
 	padding: 5px 15px;
 	color: #fff;
 	border-radius: 50%;
 	border: 3px solid black;
 }

.button2 a:hover{
	border-color: #fff;
	transition: 0.3s;
}

.button3 {
 	position: relative;
 	top: -182px;
 	left: 245px;
 }

.button3 a {
 	text-decoration: none;
 	font-size: 30px;
 	font-family: monospace;
 	background: linear-gradient(#8360c3, #2ebf91);
 	padding: 5px 15px;
 	color: #fff;
 	border-radius: 50%;
 	border: 3px solid black;
 }

.button3 a:hover{
	border-color: #fff;
	transition: 0.3s;
}

.button4 {
 	position: relative;
 	top: -217px;
 	left: 305px;
 }

.button4 a {
 	text-decoration: none;
 	font-size: 30px;
 	font-family: monospace;
 	background: linear-gradient(#8360c3, #2ebf91);
 	padding: 5px 15px;
 	color: #fff;
 	border-radius: 50%;
 	border: 3px solid black;
 }

.button4 a:hover{
	border-color: #fff;
	transition: 0.3s;
}

.button5 {
 	position: relative;
 	top: -253px;
 	left: 365px;
 }

.button5 a {
 	text-decoration: none;
 	font-size: 30px;
 	font-family: monospace;
 	background: linear-gradient(#8360c3, #2ebf91);
 	padding: 5px 15px;
 	color: #fff;
 	border-radius: 50%;
 	border: 3px solid black;
 }

.button5 a:hover{
	border-color: #fff;
	transition: 0.3s;
}
 
